<div class="mine">
	<!-- 头部 -->
	<div class="m_toprow">
		<a href="javascript:void(0)" class="m_return" ng-click="mineCtrl.goBack();"></a>
		<h1>个人中心</h1>
	</div>
	<!-- 用户 -->
	<div class="m_user">
		<dl>
			<dt class="m_user_pic"></dt>
			<dd class="m_user_name">杜先生</dd>
			<dd class="m_user_tel">135****2113</dd>
		</dl>
	</div>
	<!-- 空隔 -->
	<div class="m_greyhr"></div>
	<!-- 内容 -->
	<div class="m_main">
		<ul>
			<li class="m_main_choose" ng-click="mineCtrl.goTo();">
				<a href="javascript:void(0)">
					<span class="m_main_lt">
						<i class="m_main_lt_pic1"></i>
						我的订单
					</span>
				</a>
			</li>
			<li class="m_main_choose">
				<a href="javascript:void(0)">
					<span class="m_main_lt">
						<i class="m_main_lt_pic2"></i>
						意见反馈
					</span>
				</a>
			</li>
			<li class="m_main_choose">
				<a href="javascript:void(0)">
					<span class="m_main_lt">
						<i class="m_main_lt_pic3"></i>
						客户端下载
					</span>
				</a>
			</li>
			<li class="m_main_choose">
				<a href="javascript:void(0)">
					<span class="m_main_lt">
						<i class="m_main_lt_pic4"></i>
						退出登录
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>