<div class="search">
	<!-- 搜索栏 -->
	<div class="sh_toprow">
		<a href="javascript:void(0)" class="sh_return" ng-click="searchCtrl.goBack();"></a>
		<div class="sh_topsearch">
			<form>
				<a href="javascript:void(0)">
					<div class="sh_modinp_hs">
						<i class="sh_sp_pic1"></i>
						<input type="text" class="sh_header_input" placeholder="请输入关键字">
					</div>
				</a>
			</form>
		</div>
	</div>
	<!-- 热门搜索 -->
	<div class="sh_hotkey">
		<h3>热门搜索</h3>
		<ul class="sh_hotkey_list">
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">朴树</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">张学友</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">周杰伦</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">五月天</a>
			</li>
			<li>	
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">CBA</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">梁静茹</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">德云社</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">田馥甄</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="searchCtrl.goTo();">张惠妹</a>
			</li>
		</ul>
	</div>
</div>